{% extends 'layout.html' %}

{% block title %}
    Passwords
{% endblock %}

{% block main %}
    <div>
        <h1>Password Manager</h1>
        <p>Tool for managing your passwords.</p>
        <a href="/addaccount" class="btn btn-primary" style="margin-bottom: 15px;">Add Account +</a>
        <div class="passwords">
            {% for p in passwords %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ p[2] }}</h5>
                        <p class="card-text">Username: {{ p[3] }}</p>
                        <p class="card-text">Email: {{ p[4] }}</p>
                        <p class="card-text">Password: {{ p[5] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}